* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}
.wrapper {
  width: 70%;
  /* height: 100%; */
  margin-left: 15%;
  margin-right: 15%;
  /* background-color: lightcoral; */
  display: flex;
  flex-direction: column;
}
header {
  /* background-color: lightblue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}
.menu {
  /* width: 70px; */
  display: flex;
  justify-content: flex-end;
}
ul {
  list-style-type: none;
  display: flex;
  /* background-color: aquamarine; */
  justify-content: space-between;
}
li {
  /* background-color: bisque; */
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
li:hover {
  color: blue;
}
a {
  text-decoration: none;
  color: inherit;
}

header img {
  width: 43px;
}
