@media (max-width: 900px) {
  .wrapper {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  .container {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
  .top {
    margin: 100px 10px;
  }
  .top .desc {
    width: 97%;
    font-size: 13px;
  }
  /* top end */
  .middle .img {
    width: 200px;
    height: 300px;
    margin-left: -30px;
  }
  .cover {
    margin-left: -20px;
  }
  .middle .title {
    font-size: 15px;
  }
  .middle .desc {
    font-size: 11px;
  }
  /* middle end */
  .bottom {
    height: 50%;
    margin-bottom: 0;
  }
  .bottom .text {
    width: 100%;
  }
  .bottom .title {
    font-size: 15px;
  }
  .bottom .desc {
    font-size: 11px;
  }
  .boss {
    height: 50%;
  }

  .boss,
  .main-boss {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .boss .text {
    margin: 0;
    margin-left: 5%;
  }
  .main-boss .text {
    margin-top: 0;
    margin-right: 5%;
  }
  .main-boss .title {
    margin-top: 5px;
  }
  .main-boss img {
    margin-left: 2%;
  }
  .bottom img {
    width: 80px;
    height: 80px;
  }
}
