* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.cover {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  width: 120px;
  height: 35px;
  margin-top: 0px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ccc;
}
