* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}
.cover {
  width: 70%;
  height: 100%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}
.point-box {
  width: 60%;
  height: 55%;
  border-radius: 10px;
  background-color: antiquewhite;
}
.text {
  /* margin-top: 80px; */
  /* margin-left: 150px; */
}
.point-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.point-box h3 {
  font-size: 23px;
  margin-bottom: 17px;
}
.button {
  width: 120px;
  height: 35px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: aqua;
}
