* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  margin-bottom: 30px;
}
.container {
  display: flex;
  align-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}
.container:nth-child(3) {
  padding-bottom: 40px;
}

.activeImg {
  height: 75%;
  /* height: 215px; */
  /* background-color: antiquewhite; */
  padding-bottom: 5px;
}
.img-list {
  width: 32%;
  background-color: #f7f7f7;
  padding: 7px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
}
.img-list:nth-child(2) {
  margin-left: 0.3%;
  margin-right: 0.3%;
}
.text .title {
  font-size: 17px;
  color: #5a5a5a;
  padding-bottom: 5px;
}
.text .desc {
  color: #c5c3c3;
}
.github img,
.jandi .images img,
.seminar img,
.coding-test img,
.flask img,
.js img,
.swift img,
.project img,
.gather img {
  width: 100%;
}
.images img {
  margin-bottom: 15px;
}
