@media (max-width: 900px) {
  .wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .cover {
    /* background-color: aqua; */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cover .container {
    width: 100%;
    margin-left: 8%;
    margin-right: 0;
    flex-direction: column;
  }
  .img-list:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .img-list {
    width: 80%;
  }
}
