/* @media (max-width: 900px) {
  .wrapper {
    width: 100vw;
    margin-left: 0;
    background-color: lightblue;
  }
  header {
    width: 100vw;
    background-color: lightcoral;
  }
  .goal-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .goal-container {
    background-color: blueviolet;
    flex-direction: column;
  }
  .goal-box {
    height: 90%;
    margin-bottom: 10px;
  }
} */
@media (max-width: 900px) {
  .wrapper {
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header {
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightcoral; */
  }
  .goal-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .goal-container {
    background-color: blueviolet;
    flex-direction: column;
  }
  .goal-box {
    height: 90%;
    margin-bottom: 10px;
  }
}
