@media (max-width: 900px) {
  .wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .main-container {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cover {
    /* background-color: aqua; */
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .cover .container {
    width: 100%;
    margin-left: 8%;
    margin-right: 0;
    flex-direction: column;
  }
  .img-list:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
  .img-list {
    width: 80%;
  }
  .activeImg {
    /* width: 100%; */
    /* height: 0; */
    height: 10%;

    /* height: 170px; */
    /* margin-bottom: 50px; */
    display: flex;
    justify-content: flex-start;
  }
  h1 span {
    font-size: 10%;
  }
}
