* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  margin-bottom: 100px;
}
.goal-wrapper {
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 100px; */
  margin-right: 15%;
  margin-left: 15%;
  /* background-color: lightblue; */
}

.goal-container {
  height: inherit;
  /* background-color: #2bff88; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.goal-box {
  height: 80%;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  transition: all 0.5s linear;
  transform-style: preserve-3d;
}
.goal-box:hover {
  transform: rotateY(180deg);
}
.goal-img i {
  font-size: 130px;
  margin-bottom: 20px;
  color: white;
}
.mentoring {
  background: #c6ffdd;
  background: linear-gradient(45deg, #f7797d, #fbd786, #c6ffdd);
}
.seminar {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.backend {
  background-color: #74ebd5;
  background-image: linear-gradient(225deg, #74ebd5 0%, #9face6 100%);
}
.team {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}
.session {
  background-color: #fa8bff;
  background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
}
.study {
  background: #ef32d9;
  background: linear-gradient(223deg, #89fffd, #ef32d9);
}
.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f7f7f7;
}

.back {
  transform: rotateY(180deg);
  align-items: center;
}
.front i {
  font-size: 100px;
  margin-bottom: 10px;
}
.front h2 {
  font-size: 20px;
  margin-bottom: -30px;
}
.back h2 {
  display: inline-block;
  /* margin-left: 10px; */
}
