* {
  box-sizing: border-box;
}

body,
h1,
h6 {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 900px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper > div {
  width: 250px;
  height: 250px;
  border-radius: 40px;
  transition: all 0.5s linear;
  transform-style: preserve-3d;
}

.financial-app {
  background-color: #f9d29d;
  background-image: linear-gradient(315deg, #f9d29d 0%, #ffd8cb 74%);
}

.graphic-design {
  background-color: #deebdd;
  background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
}

.artifact-model {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.operating-system {
  background-color: #e4eee9;
  background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
}

.business-card {
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
}

.centered-design {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}

.wrapper > div:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f7f7f7;
}

.back {
  transform: rotateY(180deg);
  align-items: center;
  cursor: pointer;
}
.front i {
  font-size: 70px;
  margin-bottom: 10px;
}
.front h2 {
  margin-bottom: -30px;
}
.back h2 {
  display: inline-block;
  margin-right: 10px;
}

.back i {
  font-size: 20px;
}
