* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  margin-bottom: 30px;
}
.container {
  display: flex;
  /* align-content: space-around; */
  /* margin-bottom: 10px; */
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
}

.cover {
  margin-top: 30px;
}

.goal-img {
  height: 80%;
  height: 215px;
  /* background-color: antiquewhite; */
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal-img i {
  font-size: 130px;
}
.goal-img i {
  filter: drop-shadow(20px 20px 14px #ccc);
}
.mentoring {
  color: #fb7ba19e;
}
.seminar {
  color: #ffee00b4;
}
.backend {
  color: #84fb96b4;
}
.team {
  color: #5de6ddbd;
}
.session {
  color: #fe5858c2;
}
.study {
  color: #a88bebcd;
}
.img-list {
  width: 32%;
  /* background-color: #f7f7f7; */
  padding: 7px;
  padding-bottom: 15px;
  border-radius: 10px;
  margin-top: 15px;
}
.img-list .text {
  /* background-color: blue; */
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* flex-direction: column; */
}
.img-list:nth-child(2) {
  margin-left: 0.3%;
  margin-right: 0.3%;
}
.text .title {
  font-size: 17px;
  color: #5a5a5a;
  padding-bottom: 5px;
}
.text .desc {
  color: #c5c3c3;
}
.github img,
.jandi .images img,
.seminar img,
.coding-test img,
.flask img,
.js img,
.swift img,
.project img,
.gather img {
  width: 100%;
}
.images img {
  margin-bottom: 15px;
}
